<h2>List of Your Favorited Pets</h2>

<% if fav_count == 0 %>
  <h3>You currently do not have any favorites</h3>
<% else %>
  <main>
    <%= link_to "Remove All Favorited Pets", "/favorites", method: :delete %>
    <%= link_to "New Application", "/adopt_forms/new" %>
    <% @favs.each do |pet|%>
      <article id="fav-<%= pet.id %>">
        <%= image_tag(pet.image, size: "400")%>
        <h2><%= link_to pet.name, "/pets/#{pet.id}" %></h2>
        <%= link_to "Unfavorite Pet", "/favorites/#{pet.id}", method: :delete %>
      </article>
    <% end %>
  </main>
<% end %>