<main class='show'>
<section class="show-pet">
  <%= image_tag(@pet.image, size: "300")%>
  <h2><%= link_to @pet.name, "/pets/#{@pet.id}" %></h2>
  <p>Description: <%= @pet.description %></p>
  <p>Age: <%= @pet.approximate_age %></p>
  <p>Sex: <%= @pet.sex %></p>
  <p>Status: <%= @pet.adoptable %></p>
  <% if @pet.adoptable == "Pending" %>
    <p>On hold for <%= link_to "#{@pet.pending_form}", "/adopt_forms/#{@pet.pending_app}" %></p>
  <% end %>

  <%= link_to "Update Pet", "/pets/#{@pet.id}/edit"%>
  <%= link_to "Delete Pet", "/pets/#{@pet.id}", method: :delete %>
  <% if in_favs(@pet.id) %>
    <%= link_to "Unfavorite Pet", "/favorites/#{@pet.id}", method: :delete %>
  <% else %>
    <%= link_to "Favorite Pet", "/favorites/#{@pet.id}", method: :post %>
  <% end %>
  <%= link_to 'Applications', "/pets/#{@pet.id}/adopt_forms" %>
  </section>
</main>