<h2><%= link_to "#{@form.name}'s", "/adopt_forms/#{@form.id}" %> Application</h2>

<p>Name: <%= link_to "#{@form.name}", "/adopt_forms/#{@form.id}" %></p>
<p>Address: <%= @form.address %>, <%= @form.city %>, <%= @form.state %> <%= @form.zip %></p>
<p>Phone Number: <%= @form.phone_number %></p>
<p>Description: <%= @form.description %></p>

<%= content_tag :ul do %>
  <% @form.pets.each do |pet|%>
    <section id="pet-<%= pet.id %>">
      <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
      <% if pet.adoptable == "Available" %>
          <%= link_to "Approve Application for #{pet.name}", "/adopt_forms/#{@form.id}/pets/#{pet.id}", method: :patch%>
      <% elsif pet.pending_app == @form.id %>
          <%= link_to "Revoke Application for #{pet.name}", "/adopt_forms/#{@form.id}/pets/#{pet.id}", method: :patch%>
      <% else %>
        <%= "#{pet.name} already pending."%>
      <% end %>
    </section>
  <% end %>
<% end %>