<h2><%= @form.name %>'s Application</h2>

<p>Name: <%= @form.name %></p>
<p>Address: <%= @form.address %>, <%= @form.city %>, <%= @form.state %> <%= @form.zip %></p>
<p>Phone Number: <%= @form.phone_number %></p>
<p>Description: <%= @form.description %></p>

<%= content_tag :ul do %>
  <% @form.pets.each do |pet|%>
    <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
    <%= link_to "Approve Application for #{pet.name}", "/adopt_forms/#{@form.id}/pets/#{pet.id}", method: :patch%>
  <% end %>
<% end %>