<!DOCTYPE html>
<html>
  <head>
    <title>AdoptDontShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <nav>
        <%= button_to "Shelters", "/shelters", method: :get, class: "nav-btn" %>
        <%= button_to "Pets", "/pets", method: :get, class: "nav-btn" %>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
